[Unit]
Description=A free, open source, and cross-platform media player
Documentation=https://mpv.io/manual/
After=multi-user.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/mpv --vo=gpu --hwdec=vdpau --input-ipc-server='/tmp/mpvsocket' --idle --quiet --x11-name=mpvIdle --keep-open
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
