[Unit]
Description=A script to check rss feeds
Documentation=https://github.com/buckley-w-david/dotfiles
Wants=network-online.target 
After=network-online.target

[Service]
WorkingDirectory=/home/david/scripts/update-rss-envs
ExecStart=/home/david/scripts/update-rss-envs/update-rss-envs
