[Unit]
Description=A script to check rss feeds
Documentation=https://github.com/buckley-w-david/dotfiles
Wants=network-online.target 
Requires=scrolld.service
After=network-online.target scrolld.service

[Service]
ExecStart=/home/david/scripts/rss-update.sh
