[Unit]
Description=A script for hacky scrolling text
Documentation=https://github.com/buckley-w-david/dotfiles

[Service]
ExecStart=/home/david/scripts/scrolld.py
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
